{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'post_app/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/components/create-post-form.css' %}">
{% endblock links %}

{% block side_panel %}
    {% include "home_app/components/profile_container.html" %}
{% endblock %}

{% block content %}
    {% include "post_app/components/create_post_form.html" %}

    <div class="test"></div>
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'post_app/js/components/createPostForm.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/components/elements.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/components/links.js' %}"></script>
{% endblock scripts %}
