{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'post_app/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/side-panel.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/create-post-form.css' %}">
{% endblock links %}

{% block side_panel %}
    {% include "home_app/components/profile_container.html" %}
{% endblock %}

{% block content %}
    {% include "post_app/particles/create_post_form.html" %}

    <div class="post-create" id="create-post">
        <textarea></textarea>
        <div>
            <button class="button-edit button-purple">Перейти до оформлення</button>
        </div>
    </div>

    <div class="test"></div>
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static "post_app/js/post.js" %}"></script>
{% endblock scripts %}
