{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'post_app/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/components/create-post-form.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/components/post-provider.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/components/show-posts.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/components/create-tag-form.css' %}">
{% endblock links %}

{% block side_panel %}
    {% include "home_app/components/profile_container.html" %}
{% endblock %}

{% block content %}
    {% include "post_app/components/create_post_form.html" %}

    {% include "post_app/components/post_provider.html" %}
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'post_app/js/components/postForm/index.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/components/postProvider/index.js' %}"></script>
{% endblock scripts %}
