{% load static %}

<link rel="stylesheet" href="{% static 'home_app/css/components/profile-container.css' %}">

<div class="profile">
    <div class="profile-head">
        <img src="{% static 'icon/default-group-avatar.png' %}">

        <div class="text-profile">
            <p>{{ target_user.pseudonym }}</p>
            <p>@{{ target_user.pseudonym }}</p>
        </div>
    </div>

    <div class="profile-footer">
        <div>
            <p>{{ target_user.post_count }}</p>
            <p>Дописи</p>
        </div>
        <div>
            <p>0</p>
            <p>Читачі</p>
        </div>
        <div>
            <p>{{ target_user.friend_count }}</p>
            <p>Друзі</p>
        </div>
    </div>

    {% if request.resolver_match.view_name == "user_app.friend_page" %}
        <div>
            <button class="accept" id="acceptUsersButton" data-user-id="{{ userId }}">Підтвердити</button>
            <button class="delete" id="dismissUsersButton" data-user-id="{{ userId }}">Видалити</button>
        </div>
    {% endif %}
</div>