{% load static %}

<link rel="stylesheet" href="{% static 'home_app/css/components/profile-container.css' %}">

<div class="profile">
    <div class="profile-head">
        <img src="{% static 'icon/mockup-icon.png' %}" alt="">
        <div class="text-profile">
            <p>Lina Li</p>
            <p>@thelili</p>
        </div>
    </div>

    <div class="profile-footer">
        <div>
            <p>566</p>
            <p>Дописи</p>
        </div>
        <div>
            <p>12.1K</p>
            <p>Читачі</p>
        </div>
        <div>
            <p>222</p>
            <p>Друзі</p>
        </div>
    </div>

    {% if request.resolver_match.view_name == "user_app.friend_page" %}
        <div>
            <button class="accept" id="acceptUsersButton" data-user-id="{{ userId }}">Підтвердити</button>
            <button class="delete" id="dismissUsersButton" data-user-id="{{ userId }}">Видалити</button>
        </div>
    {% endif %}
</div>