{% load static %}
{% for post in posts %}
    <div class="post">
        <div class="post-header">
            <p>{{ post.author.username }}</p>
            <img class="three-dots" src="{% static 'post_app/icon/three-dots.svg' %}" alt="">
        </div>
        <hr>
        <div class="post-content">
            <p>{{ post.title }}</p>
          
            <!-- {% if post.topic %}
                <p>{{ post.topic }}</p>
            {% endif %}
             -->
            <p>
                {{ post.content }}
                
                <br>

                {% if post.tags.all %}
                    <span class="tag">
        
                        {% for tag in post.tags.all %}
                            #{{ tag.name }}
                        {% endfor %}
                    </span>
                {% endif %}
    
            </p>
            
            {% if post.links.all %}
                <div>
                    {% for link in post.links.all %}
                        <a class="link" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.url }}</a>
                    {% endfor %}
                </div>
            {% endif %}
    
            {% if post.images.all %}
                <div class="image-block">
                    {% for image in post.images.all %}
                        <img
                            class="{{ image.orientation }}"
                            src="{{ image.compressed_image.url }}"
                            alt="{{ post.title }}"
                        >
                    {% endfor %}
                </div>
            {% endif %}   
        </div>
    </div>
{% endfor %}
