<!-- <div class="section-register" id = "register-form-container">
    <nav class="section-head">
        <p id = "open-register-form" class="register"><u>Реєстрація</u></p>
        <p id = "open-login-form" class="login">Авторизація</p>
    </nav>
    <p class="worldit">Приєднуйся до World IT</p>
    <form action="{% url 'register' %}" method="post" class="form-register">
        {% csrf_token %}
        {{ form_register.as_div }}
        <button class="button-register" type="submit">Створити акаунт</button>
    </form>
</div>
-->
