main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    top: 85px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    gap: 0.4vw;
}

.wrap-side{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24.31vw;

}
.side-panel{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 24.31vw;
}

.content{
    display: flex;
    flex-direction: column;
    width: 54vw;
    justify-content: start;
    align-items: center;
}