*:has(.status-bubble) {
    position: relative;
}

.status-bubble {
    position: absolute;
    right: 0; 
    bottom: 0;
    transform: translate(-50%, -50%);

    width: 0.75rem; 
    height: 0.75rem;
    border-radius: 50%;
    
    background-color: rgba(205, 206, 210, 1);
    box-shadow: 0 0 0 0.15rem white; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.status-bubble.online {
    background-color: rgba(34, 197, 94, 1);
}