{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'publications_app/css/publications.css' %}">
{% endblock links %}

{% block side_panel %}
<div class="user-container">
    <div class="profile">
        <div class="profile-head">
            <img src="{% static 'icon/mockup-icon.png' %}" alt="">
            <div class="text-profile">
                <p>Lina Li</p>
                <p>@thelili</p>
            </div>
        </div>

        <div class="profile-footer">
            <div>
                <p>566</p>
                <p>Дописи</p>
            </div>
            <div>
                <p>12.1K</p>
                <p>Читачі</p>
            </div>
            <div>
                <p>222</p>
                <p>Друзі</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="my-publications-content">
    <div class="post-create">
        <div class="create">
            <div class="div-create">
                <p>Тема публікації</p>
            </div>
            <div class="create-footer">
                <div class="block">
                    <div class="reaction">
                        <!--<button><img src="{% static 'icon/.svg' %}" alt=""></a></button>-->
                    </div>
                    <div>
                        <button class="button-edit">Перейти до оформлення</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="post-content">
    </div>
</div>
{% endblock content %}


