* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none
}

a, p, label, input, button, textarea {
    font-family: 'GT-Walsheim';
    font-weight: 500;
}

body {
    background-color: #FAF8FF;
    overflow: hidden;
}