*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.content {
    flex-direction: row;
    gap:5px;
    align-items: start;
}
.messages-content{
    width: 39.17vw;
    height: 100%;

    border-radius: 2vh;
    border: 1px solid #CDCED2;
    background-color: white;
    display: flex;
}

.messages-panel{
    width:24.31vw;
    display: flex;
    justify-content: flex-end;
    overflow-y: hidden;
}