.dialog{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.67vh;
    overflow: hidden;
    gap: 1vh;
}    

.chat-head{
    display: flex;
    flex-direction: row;
    padding-bottom: 0.7vw;
    width: 100%;

    border-bottom: 1px solid #CDCED2;
    justify-content: space-between;
}

.chatting {
    width: 100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 2.3vh; 

}
.messanger{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7vh;
    
    flex-grow: 1; 
    overflow-y: auto;
    scrollbar-width: none;
}

.chat-foot{
    /* top: 89vh; */
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    width: 33.6vw;
    gap: 1.67vw;

    padding: 0 1vh 1vh 1vh;
    background-color: #FFFFFF;
}

.date{
    display: flex;
    width: fit-content;
    padding: 0.42vh 0.625vw;
    background-color: #E9E5EE;
    color: #81818D;
}


.new{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap:1vw;
    font-size: 1vw;
    color: #81818D;
}

.new > hr{
    width: 9.99vw;
    height: 1px;
    color: #E0E8D2;
}




.friend-block{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.28vw;
    height: auto;
    width: 100%;
}
.friend-block img{
    height: 4.8vh;
}
.message{
    padding: 0.7vw;
    border: 1px solid #E9E5EE;
    color: #070A1C;
    border-radius: 0.5vh;

    display: flex;
    flex-direction: row;
    gap: 0.7vw;
}

.my{
    border: none;
}
.friend{
    display: flex;
    flex-direction: column;
    gap: 0.28vw;
}
.my-message{
    margin-left: auto;
    background-color: #CDCED2;
    border-radius: 0.5vh;

}
.data{
    display: flex;
    flex-direction: row;
    gap: 0.35vw;
    color: #81818D;
}
.data img{
    width: 0.7vw;
}

.name{
    font-size: 0.7vw;
    color: #543C52;
}
input{
    width: 24vw;
    border: none;
    outline: none;
    font-size: 1.1vw;
    padding: 1vh 1.2vw;
    border-radius: 2vh;
    border: 1px solid #CDCED2;
}
.buttons{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap:1.1vw;
}

.b{
    width: fit-content;
    height: fit-content;
    padding: 0.7vw;
    border-radius: 13.2vw;
    border: 1px solid #543C52;
    background-color: #FFFFFF;
}
.b img{
    width:1.39vw;
}
.purple{
    border-radius: 13.2vw;
    background-color: #543C52;
}


.group-head{
    display: flex;
    flex-direction: row;
    gap:1.1vw;
}

.chat-head .imgd{
    width:1.39vw;
}

.group{
    display: flex;
    flex-direction: row;
    gap:0.7vw;
}
.group img{
    height: 4.8vh;
}

.name-chat{
    display: flex;
    flex-direction: column;
    gap:0.45vw;
}
.big{
    font-size: 1.67vw;
    font-weight: 700;
}
.small{
    font-size: 0.97vw;
    font-weight: 400;
    color: #81818D;
}