.first-view{
    width: 39.17vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    gap: 4vh;
}

.first{
    font-size: 1.67vw;
    font-weight: 700;
}
.second{
    font-size: 1.1vw;
}