.leftside{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8vh;
}

.contacts-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #FFFFFF;
    border-radius: 2vh;
    border: 1px solid #CDCED2;
    padding: 1.1vw;
}
.head{
    
    display: flex;
    flex-direction: column;
    gap: 2.4vh;
}
.create{
    color: #FFFFFF;
    background-color: #543C52;
    border-radius: 20vh;
    padding: 1.1vh 1.1vw;
    width: 100%;
}
.head-contact p{
    font-size: 1.5vw;
    color:#81818D;
}
.search{
    padding: 1vh 1.2vw;
    border-radius: 2vh;
    border: 1px solid #CDCED2;
}
.search p{
    font-size: 1.1vw;
    color:#81818D;
}
.contact img{
    width: 5vh;
}

.contact-container{
    width: 100%;
    height: 84.48vh;

    display: flex;
    flex-direction: column;
    gap: 1vh;
    
    overflow-y: auto;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.9vw;
    align-items: center;
    flex-shrink: 0;
}