.create{
    width: 100%;

    color: #FFFFFF;
    background-color: #543C52;
    border-radius: 20vh;
    padding: 1.1vh 1.1vw;
}

.contacts-list{
    /* width: 100%; */
    flex: 1;
    min-height: 0;

    padding: 1.05vw;

    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2.4vh;
    
    background-color: #FFFFFF;
    
    border-radius: 2vh;
    border: 1px solid #CDCED2;
}

.head-contact p{
    font-size: 1.5vw;
    color:#81818D;
}

.search{
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    padding: 1vh 1.2vw;
    border-radius: 2vh;
    border: 1px solid #CDCED2;
}

.search input{
    border: none;
    outline: none;
    font-size: 1.1vw;
    color:#81818D;
}

.contact img{
    width: 5vh;
}

.contact-container{
    width: 100%;
    flex: 1;
    /* height: 69.38vh; */

    display: flex;
    flex-direction: column;
    gap: 1.8vh;
    
    overflow-y: auto;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.9vw;
    align-items: center;
    flex-shrink: 0;
}