*{
    box-sizing: border-box;
    top: 0;
    left:0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.laptop-img{
    top: 4vh;
    position: fixed;
    height: 100vh;
    z-index: -1;
    margin-left: auto;
    padding: 10vw;
    left: 39vw;
}