.form > div {
    width: 100%;
    
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3.75vh;
}

.form > div > nav {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    cursor: pointer;
}

.form > div > nav > p {
    color: #81818D;
    font-size: 3.54vh;
}

.active-button {
    color: rgba(7, 10, 28, 1) !important;
    
    border-bottom: 2px solid rgba(84, 60, 82, 1);
}

.message {
    font-size: 2.5vh;
}

.form > div > form {
    width: 100%; 
    
    display: flex;
    flex-direction: column;

    gap: 1.67vh;
}

.form > div > form > div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.52vh;
    
    font-size: 1.67vh;
}

.form > div > form > div > input {
    box-sizing: border-box;
    
    width: 100%;
    
    padding: 1vw 2vh;
    
    background-color: #FFFFFF;
    
    border: 1px solid #CDCED2;
    border-radius: 2vh;
}