

/* .login-p, .register-p{
    color: #81818D;
    font-size: 2.2vw;
}

.button-register, .login-p, .register-p, .button-register{
    cursor: pointer;
}
.active-button{
    color: #000;
    border-bottom: 2px solid rgba(84, 60, 82, 1);
}

.button-authorization, .submit-email, .button-register, .button-authorization{
    width: 100%;
    gap: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    border-radius: 84vw;
    background-color: rgba(84, 60, 82, 1);
    color: white;
    align-items: center;
    margin-top: 1vh;
    font-family: 'GT-Walsheim', sans-serif;
    font-size: 0.8vw;
    margin-top: 2.5vh;
} */