.section-register {
    display: flex;
    font-family: 'GT-Walsheim', sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    width: 33vw;
    min-height: 57px;
    padding: 3vw;
    border-radius: 2vh;
    background-color: #FFFFFF;
    top: 180px;
    left: 18.5vw;
    position: fixed;
    gap: 1vw;
    z-index: 1;
    padding: 1.5vw 3vw 5vh 3vw;
}
.section-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 12px;
    gap:2vw;
}
/* .register {
    color: #000;
    border-bottom: 2px solid rgba(84, 60, 82, 1);
}
.login{
    color: #81818D;
} */

.worldit{
    gap:3.3vh;
    font-size: 1.5vw;
}
.form-register {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.form-register >div{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #070A1C;
    font-size: 1.1vw;
    align-items: start;
    align-items: flex-start;
    gap: 5px;
}
.form-register > div > input {
    width: 100%;
    box-sizing: border-box;
    padding: 1vw 2vh;
    border-radius: 2vh;
    border: 1px solid #CDCED2;
    background-color: #FFFFFF;
    font-family: 'GT-Walsheim', sans-serif;
    font-size: 14px;
    max-width: 100%;
    box-sizing: border-box;
}
