.section-register {
    display: flex;
    font-family: 'GT-Walsheim', sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33vw;
    height: 57vh;
    border-radius: 2vw;
    padding: 3vw;
    font-family: Arial, Helvetica, sans-serif;

}
.section-head{
    display: flex;
    flex-direction: row;
}
.register {
    width: 12vw;
    height: 4vh;
    gap: 8px;
    color: #070A1C;
}
.login{
    width: 12vw;
    height: 4vh;
    gap: 8px;
    color: #81818D;
}
.form-register {
    width: 27vw;
    flex-direction: column;
    gap: 16px;
}

.butt-register{
    width: 27vw;
    gap: 6px;
    padding-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 84vw;
    background-color: rgba(84, 60, 82, 1);
    color: white;
}