.content {
    top:90px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.image{
    width:47vw;
    height:36.6vh;
    justify-content: right;
}

.section-register {
    display: flex;
    font-family: 'GT-Walsheim', sans-serif;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    width: 33vw;
    height: 27vh;
    border-radius: 2vw;
    padding: 3vw;
    background-color:  #FFFFFF;
}
.section-head{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.register {
    color: #070A1C;
    font-family: 'GT-Walsheim', sans-serif;
    text-decoration: none; 
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(84, 60, 82, 1);
}

.login .register{
    font-size: 34px;
}
.login{
    color: #070A1C;
    padding-bottom: 8px; 
    display: inline-block;
}
.form-register {
    width: 27vw;
    flex-direction: column;
    padding-top: 16px;
    margin-top: 16px;
    padding-bottom: 16px;
}

.butt-register{
    width: 27vw;
    gap: 8px;
    padding-top: 16px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 16px;
    border-radius: 84vw;
    background-color: rgba(84, 60, 82, 1);
    font-family: 'GT-Walsheim', sans-serif;
    color: white;
}