.profile {
    box-sizing: border-box;
    width: 100%;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    text-align: center;

    border-radius: 2vh;
    border: 1px solid #CDCED2;
    gap: 1.5vh;
}

.profile .profile-head {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.profile .profile-head .text-profile {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
}

.profile .profile-footer {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile .profile-footer div:nth-child(2) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0 2.5vw;
}

.profile .profile-footer p:last-child {
    color: #81818D;
}

.accept {
    border-radius: 50px;
    border: 0;

    color: white;
    background-color: rgba(84, 60, 82, 1);
    
    font-size: 1.67vh;
    padding: 0.9vh 1.5vh;
}

.delete {
    border-radius: 50px;
    border: 0;

    color: rgba(84, 60, 82, 1);
    background-color: white;
    border: 1px solid rgba(84, 60, 82, 1);
    
    font-size: 1.67vh;
    padding: 0.9vh 1.5vh;
}

.profile-head > img {
    aspect-ratio: 1 / 1;
    height: 10vh;
}