{% load static %}

<div class="leftside">
    <button class="create">Створити груповий чат</button>
    <div class ="contacts-list">
        <div class="head-contact">
            {% comment %} <img src="{% static '../icon/friends.svg'%}" alt=""> {% endcomment %}
            <p>Контаки</p>
        </div>
        <div class="search">
            <img src="" alt="">
            <input placeholder="Пошук"></input>
        </div>
        <div class="contact-container">
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
            <div class="contact">
                <img src="{% static 'chat_app/icon/Avatar.png'%}" alt="">
                <p>Jane Cooper</p>
            </div>
        </div>
    </div>
</div>
