{% load static %}

<dialog open class="create-new-group" id="create-new-group">
    <div class="close-b">
        <button class="close" id="close" type="button">
            <img src="{% static 'icon/cross.svg' %}">
        </button>
    </div>

    <p class="title">Нова група</p>
    <div class="search">
            <img src="{% static 'chat_app/icon/search.svg'%}" alt="">
            <input placeholder="Пошук"></input>
    </div>
    <p class="chosen">Вибрано: 3</p>
    <div class="contact-list">
        <div class="letter">
            <p>A</p>
            <div class="list">
                <div class="contact">
                    <img src="{% static 'chat_app/icon/Avatar.png' %}">
                    <div>
                        <p>Aeslie</p>
                        <input type="checkbox">
                    </div>
                </div>
                <div class="contact">
                    <img src="{% static 'chat_app/icon/Avatar.png' %}">
                    <div>
                        <p>Aeslie</p>
                        <input type="checkbox">
                    </div>
                </div>
                <div class="contact">
                    <img src="{% static 'chat_app/icon/Avatar.png' %}">
                    <div>
                        <p>Auy</p>
                        <input type="checkbox">
                    </div>
                </div>
                <div class="contact">
                    <img src="{% static 'chat_app/icon/Avatar.png' %}">
                    <div>
                        <p>Acob</p>
                        <input type="checkbox">
                    </div>
                </div>
            </div>
        </div>

        <div class="letter">
            <p>B</p>
            <div class="list">
                <div class="contact">
                    <img src="{% static 'chat_app/icon/Avatar.png' %}">
                    <div>
                        <p>Bonald</p>
                        <input type="checkbox">
                    </div>
                </div>
                <div class="contact">
                    <img src="{% static 'chat_app/icon/Avatar.png' %}">
                    <div>
                        <p>Bonald</p>
                        <input type="checkbox">
                    </div>
                </div>
                <div class="contact">
                    <img src="{% static 'chat_app/icon/Avatar.png' %}">
                    <div>
                        <p>Bert</p>
                        <input type="checkbox">
                    </div>
                </div>
                <div class="contact">
                    <img src="{% static 'chat_app/icon/Avatar.png' %}">
                    <div>
                        <p>Bheresa</p>
                        <input type="checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="return">Скасувати</button>
        <button class="next">Далі</button>
    </div>
</dialog>