{% for user in users %}
    <div class="user-card">
        <div class="user-card-info">
            <img src="/static/icon/mockup-icon.png" alt="">

            <div class="texts">
                <p>{{ user.profile.author_pseudonym }}</p>
                <p>@{{ user.username }}</p>
            </div>
        </div>

        <div class="user-card-buttons">
            {% if mode == "requests" %}
                <button class="purple-b" data-action="accept">Підтвердити</button>
            {% elif mode == "recommendations" %}
                <!-- <a href="{% url 'user_app.friend_page' user_id=user.id %}"> -->
                    <button class="purple-b" data-action="add">Додати</button>
                <!-- </a> -->
            {% elif mode == "all_friends" %}
                <button class="purple-b" data-action="">Повідомлення</button>
            {% endif %}

            {% if mode == "all_friends" %}
                <button class="white-b" data-action="delete">Видалити</button>
            {% else %}
                <!-- <a href="{% url 'user_app.friend_page' user_id=user.id %}"> -->
                    <button class="white-b" data-action="dismiss">Видалити</button>
                <!-- </a> -->
            {% endif %}
        </div>
    </div>
{% endfor %}
