{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <meta>
{% endblock %}

{% block title %}
    Auth
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/confirm_email.css' %}">
{% endblock %}

{% block content %}
    <div class="forms">
        {% include 'user_app/particles/form_login.html' %}
        {% include 'user_app/particles/form_register.html' %}
        {% include 'user_app/particles/form_confirm_email.html' %}
    </div>
    <img class="laptop-img" src="{% static 'images/laptop.png'%}" alt="">
{% endblock %}

{% block scripts %}
    <script src="{% static 'user_app/js/authforms.js' %}"></script>
{% endblock %}
