{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <meta>
{% endblock %}

{% block title %}
    Auth
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/register_form.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/login_form.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/confirm_email_form.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/common.css' %}">
{% endblock %}

{% block content %}
    <!-- {% if user.is_authenticated %}
        <script>alert("user is login")</script>
    {% else %}
        <h2>user ne login</h2>
    {% endif %} -->
    <div>
        {% include 'user_app/particles/form_register.html' %}
        {% include 'user_app/particles/form_login.html' %}     
        {% include 'user_app/particles/form_confirm_email.html' %}
    </div>
    <img class="laptop-img" src="{% static 'images/laptop.png'%}" alt="">

{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'user_app/js/authforms.js' %}"></script>
    <script type="module" src="{% static 'user_app/js/formLogic.js' %}"></script>
{% endblock %}
