{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/complete-profile-modal.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'home_app/css/profile.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'home_app/css/side-panel.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/components/create-post-form.css' %}">
{% endblock links %}

{% block side_panel %}
    {% include "home_app/components/profile_container.html" %}

    <div class="requests">
        <div class="request-inquiry">
            <a><img src="{% static 'icon/friends.svg' %}" alt="">Запити</a>
            <p>Дивитись всі</p>
        </div>
        <div class="requests-example">
            <div class="request-box">
                <a class="request-image"><img src="{% static 'home_app/images/mock_image_1.png' %}" alt=""></a>
                <div class="follower-info">
                    <p class="request-text">Yehor Aung</p>
                    <a class="grey-text">
                        <p>4.3к підписників</p>
                    </a>
                </div>
            </div>
            <div class="request-box">
                <a class="request-image"><img src="{% static 'home_app/images/mock_image_2.png' %}" alt=""></a>
                <div class="follower-info">
                    <p class="request-text">Ann Ann</p>
                    <a class="grey-text">
                        <p>1.6к підписників</p>
                    </a>
                </div>
            </div>
            <div class="request-box">
                <a class="request-image"><img src="{% static 'home_app/images/mock_image_3.png' %}" alt=""></a>
                <div class="follower-info">
                    <p class="request-text">Yeugen Jenua</p>
                    <a class="grey-text">
                        <p>10.3к підписників</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="messages">
        <div class="message-inquiry">
            <a><img src="{% static 'icon/chat.svg' %}" alt="">Повідомлення</a>
            <p>Дивитись всі</p>
        </div>
        
        <div class="message-example">
            <div class="grey-box">
                <a class="message-image"><img src="{% static 'home_app/images/mock_image_4.png' %}" alt=""></a>
                <div class="message-info">
                    <div class="user-time">
                        <p class="user-text">Mona Lisa</p>
                        <p class="message-time"> 09:41</p>
                    </div>
                    <a class="message-text">
                        <p>Привіт! Як справи?</p>
                    </a>
                </div>
            </div>
            <div class="grey-box">
                <a class="message-image"><img src="{% static 'home_app/images/mock_image_5.png' %}" alt=""></a>
                <div class="message-info">
                    <div class="user-time">
                        <p class="user-text">Ann Ti</p>
                        <p class="message-time">25.04.2025</p>
                    </div>
                    <a class="message-text">
                        <p>Привіт</p>
                    </a>
                </div>
            </div>
            <div class="message-box">
                <a class="message-image"><img src="{% static 'home_app/images/mock_image_6.png' %}" alt=""></a>
                <div class="message-info">
                    <div class="user-time">
                        <p class="user-text">Ness Ty</p>
                        <p class="message-time">25.04.2025</p>
                    </div>
                    <a class="message-text">
                        <p>Привіт!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if profile_details_form %}
        {% include 'home_app/particles/complete_profile_modal.html' %}
    {% endif %}

    {% include "post_app/components/create_post_form.html" %}

    <div class="test"></div>
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'home_app/js/completeProfileModal.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/components/index.js' %}"></script>
{% endblock %}