{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/complete-profile-modal.css' %}">
    <link rel="stylesheet" href="{% static 'home_app/css/side-panel.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/components/create-post-form.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/components/post-provider.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/components/show-posts.css' %}">
{% endblock links %}

{% block side_panel %}
    {% include "home_app/components/profile_container.html" %}

    <div class="requests">
        <div class="header">
            <a><img src="{% static 'icon/friends.svg' %}" alt="">Запити</a>
            <a href="/user/friends/">Дивитись всі</a>
        </div>
        <div class="container">
            
        </div>
    </div>

    <div class="messages">
        <div class="header">
            <a><img src="{% static 'icon/chat.svg' %}" alt="">Повідомлення</a>
            <a href="/chat">Дивитись всі</a>
        </div>
        
        <div class="container"></div>
    </div>
{% endblock %}

{% block content %}
    {% if profile_details_form %}
        {% include 'home_app/particles/complete_profile_modal.html' %}
    {% endif %}

    {% include "post_app/components/create_post_form.html" %}

    {% include "post_app/components/post_provider.html" %}
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'home_app/js/index.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/components/postForm/index.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/components/postProvider/index.js' %}"></script>
{% endblock %}