{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'chat_app/css/firstview.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/leftpanel.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/rightpanel.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/dialog.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/new_group_modal-one.css' %}">
{% endblock links %}

{% block side_panel %}
    {% include 'chat_app/particles/leftside.html' %}
{% endblock %}

{% block content %}
    <div class="messages-content">
        {% include 'chat_app/particles/dialog.html' %}
    </div>
    <div class="messages-panel">
        {% include 'chat_app/particles/rightside.html' %}
    </div>
{% endblock %} 

{% block scripts %}
    <script type="module" src="chat_app/js/index.js"></script>
{% endblock %}