{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'chat_app/css/firstview.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/leftpanel.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/right_panel.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'chat_app/css/dialog.css' %}"> {% endcomment %}
{% endblock links %}

{% block side_panel %}
    {% include 'chat_app/particles/leftside.html' %}
{% endblock %}

{% block content %}
    <div class="messages-content">
        {% include 'chat_app/particles/firstview.html' %}
        {% include 'chat_app/particles/dialog.html' %}
    </div>
    <div class="messages-panel">
        {% include 'chat_app/particles/rightside.html' %}
    </div>
{% endblock %}

{% block scripts %}
    
{% endblock %}