{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'chat_app/css/firstview.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/leftpanel.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/right_panel.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/dialog.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/new_group_modal-one.css' %}">
{% endblock links %}

{% block side_panel %}
    {% comment %} {% include 'chat_app/particles/leftside.html' %} {% endcomment %}
{% endblock %}

{% block content %}
    {% include 'chat_app/particles/new_group.html' %}
    {% comment %} <div class="messages-content">
        {% include 'chat_app/particles/firstview.html' %}
        {% include 'chat_app/particles/dialog.html' %}
    </div>
    <div class="messages-panel">
        {% include 'chat_app/particles/rightside.html' %}
    </div> {% endcomment %}
{% endblock %} 

{% block scripts %}
    
{% endblock %}