{% extends 'base.html' %}

{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock links %}
{% block side_panel %}
    <div class="side">
        <a>
            <p><u>Головна</u></p>

        </a>
        <a class="grey-text">
            <p>Запити</p>
        </a>
        <a class="grey-text">
            <p>Рекомендації</p>
        </a>
        <a class="grey-text">
            <p>Всі друзі</p>
        </a>
    </div>
{% endblock side_panel %}

{% block content %}
    <div class="test"></div>
{% endblock content %}

