/* common */
.requests, .messages {
    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;

    background-color: white;
    border: 1px solid #CDCED2;
    
    border-radius: 2vh;
    
}

.header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    gap: 0.56vw;

    color: rgba(129, 129, 141, 1);
}

.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.67vh;
}



.info {
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 0.83vw;
}

/* requests */
.requests {
    padding: 1.11vw;
}

/* messages */
.messages {
    padding: 1.11vw 0;
}

.messages .header {
    box-sizing: border-box;
    padding: 0 1.11vw;
}

.messages .container {
    box-sizing: border-box;
    /* padding: 0 1.11vw; */
    gap: 0;
}

.messages .info {
    box-sizing: border-box;
    padding: 0 1.11vw;
    
}

.grey-box {
    background-color: #E9E5EE;
    
}

.message-info {
    flex: 1;
}

.user-time {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.message-time {
    color: #81818D;
    
}

