{% load static %}

<!-- shared -->
<link rel="stylesheet" href="{% static 'css/shared/base.css' %}">
<link rel="stylesheet" href="{% static 'css/shared/font.css' %}">
<link rel="stylesheet" href="{% static 'css/shared/test.css' %}">

<!-- layout -->
<link rel="stylesheet" href="{% static 'css/layout/content.css' %}">
<link rel="stylesheet" href="{% static 'css/layout/header.css' %}">

<!-- components -->
<link rel="stylesheet" href="{% static 'css/components/modal.css' %}">
<link rel="stylesheet" href="{% static 'css/components/button.css' %}">

<!-- notification_app -->
<link rel="stylesheet" href="{% static 'notification_app/css/notification-count.css' %}">
<link rel="stylesheet" href="{% static 'notification_app/css/status-bubble.css' %}">