.create-group-chat {
    width: 100%;

    color: #FFFFFF;
    background-color: #543C52;

    border-radius: 20vh;
    padding: 1.1vh 1.1vw;
}

.contacts-list{
    flex: 1;

    padding: 1.05vw;

    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2.4vh;
    
    background-color: #FFFFFF;
    
    border-radius: 2vh;
    border: 1px solid #CDCED2;
}

.head-contact p{
    font-size: 2.08vh;

    color:#81818D;
}

.search {
    padding: 1vh 1.2vw;
    
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    
    border-radius: 2vh;
    border: 1px solid #CDCED2;
}

.search input{
    border: none;
    outline: none;
    font-size: 1.67vh;
    color:#81818D;
}

.search img{
    width: 2vh;
}

.contact-container{
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1.8vh;
    
    overflow-y: auto;
}

/* contact card */
.contact{
    width: 100%;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.9vw;

    cursor: pointer;

    font-size: 1.67vh;
}

.contact img{
    width: 5vh;
}
