.post-create {
    width: 100%;

    box-sizing: border-box;
    padding: 1.67vh;

    display: flex;
    flex-direction: column;

    background-color: white;

    border-radius: 2vh;
    border: 1px solid #CDCED2;

    overflow: hidden;
}

.post-create > textarea {
    width: 100%;

    padding: 1vw 2vh;
    
    border: 0;

    resize: none;
}

.post-create > div {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: end;
}

.button-edit {
    padding: 10px;
}