.user-container {
    padding-top: 1.5vh;
    display: flex;
    font-family: 'GT-Walsheim', sans-serif;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 24.31vw;
    gap: 0.5vh;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 2vh;
    border: 1px solid gray;
    width: 100%;
    padding: 1vh;
    padding: 1vh 1.5vw;
}

.profile .profile-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1vh
    
}

.profile .profile-head .text-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5vh
}

.profile .profile-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* gap: 3vw; */
    width: 100%;
    margin-top: 1vh;
}
.profile .profile-footer div:nth-child(2) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0 2.5vw;
}

.profile .profile-footer p:last-child {
    color: #81818D;
}

.my-publications-content{
    position: fixed;
    padding-top: 11vh;
    width: 64.1vw;
    padding-top: 1.5vh;
    display: flex;
    font-family: 'GT-Walsheim', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
}

.post-create {
    position: fixed;
    top: 11vh;
    width: 100%;
    height: 11.18vh;
}

.create{
        top: 11vh;
    position: fixed;
    width: 61.88vw;
    height: 8.59vh;
    font-size: 1.56vh;
    gap: 30px;
}
.div-create{
    display: flex;
    align-items: flex-start;
    font-size: 1.56vh;
}
.create-footer{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.block {
    display: flex;
    position: relative;
    width:16.88vw;
    height: 3.9vh;
    display: flex;
    flex-direction: row;
    left: 13.5vw;
    gap: 0.91vw;
}
.reaction {
    width:2.78vw;
    height: 3.9vh;
}
.button-edit {
    font-size: 1.36vh;
    height: 3.9vh;
    width: 13.19vw;
    border-radius: 4.88vh;
    color: white;
    background-color: rgba(84, 60, 82, 1);
}