{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">

        <title>{% block title %}{% endblock title %}</title>

        <!-- shared -->
        <link rel="stylesheet" href="{% static 'css/shared/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/shared/font.css' %}">
        <link rel="stylesheet" href="{% static 'css/shared/test.css' %}">
        
        <!-- layout -->
        <link rel="stylesheet" href="{% static 'css/layout/content.css' %}">
        <link rel="stylesheet" href="{% static 'css/layout/header.css' %}">

        <!-- components -->
        <link rel="stylesheet" href="{% static 'css/components/modal.css' %}">

        {% block links %}{% endblock links %} 
    </head>
    <body>
        <header>
            <div class="wrapper">
                <a href="{% url 'home_app' %}" class="logo {% if request.path == '/auth/' %} logo-center {% endif %}">
                    <img src="{% static 'icon/logo.svg'%}" alt="">
                </a>
                
                {% if request.path != "/auth/" %}
                    <div class="conteiner">
                        <nav class="menu">
                            <a href="{% url 'home_app' %}"><img src="{% static 'icon/house.svg' %}" alt="">Головна</a>
                            <a href="{% url 'publications_app' %}"><img src="{% static 'icon/image.svg' %}" alt="">Мої публікації</a>
                            <a href="{% url 'friends_app' %}"><img src="{% static 'icon/friends.svg' %}" alt="">Друзі</a>
                            <a href="/placeholder"><img src="{% static 'icon/chat.svg' %}" alt="">Чати</a>
                            <a href="{% url 'settings_app' %}"><img src="{% static 'icon/settings.svg' %}" alt="">Налаштування</a>
                        </nav>
                
                        <a href="{% url 'logout' %}" class="logout"><img src="{% static 'icon/exit.svg'%}" alt="">Вихід</a>
                    </div>   
                {% endif %}
            </div>
        </header>

        <main>
            <div class="wrapper">
                <div class="wrap-side">
                    <div class="side-panel">
                        {% block side_panel %}{% endblock side_panel %}
                    </div>
                </div>
                <div class="content">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </main>
        
        <script src="{% static 'js/modules/js.cookie.js' %}"></script>
        
        <script src="{% static 'js/constants.js' %}"></script>
        <script src="{% static 'js/linkHighlight.js' %}"></script>
        
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
