{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">

        <title>{% block title %}{% endblock title %}</title>

        {% include 'particles/styles.html' %}

        {% block links %}{% endblock links %} 
    </head>
    <body>
        <header>
            <a href="{% url 'home_app.index' %}" class="logo {% if request.path == '/auth/' %} logo-center {% endif %}">
                <img src="{% static 'icon/logo.svg'%}" alt="">
            </a>
            
            {% url 'user_app.index' as auth_url %}
            {% if request.path != auth_url %}
                <div class="conteiner">
                    <nav class="menu">
                        <a href="{% url 'home_app.index' %}"><img src="{% static 'icon/house.svg' %}" alt="">Головна</a>
                        <a href="{% url 'post_app.index' %}"><img src="{% static 'icon/image.svg' %}" alt="">Мої публікації</a>
                        <a href="{% url 'user_app.friends' %}"><img src="{% static 'icon/friends.svg' %}" alt="">Друзі</a>
                        <a href="{% url 'chat' %}"><img src="{% static 'icon/chat.svg' %}" alt="">Чати</a>
                        <a href="{% url 'profile_app.settings' %}"><img src="{% static 'icon/settings.svg' %}" alt="">Налаштування</a>
                    </nav>
            
                    <a href="{% url 'user_app.logout' %}" class="logout"><img src="{% static 'icon/exit.svg'%}" alt="">Вихід</a>
                </div>   
            {% endif %}
        </header>

        <main>
            <div class="side-panel">
                {% block side_panel %}{% endblock side_panel %}
            </div>
            
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </main>
        
        <script src="{% static 'js/modules/js.cookie.js' %}"></script>
        
        <script src="{% static 'js/constants.js' %}"></script>
        <script src="{% static 'js/linkHighlight.js' %}"></script>
        
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
