{% load static %}

<div class="chat-cards">
    <div class="heading">
        <img src="{% static 'chat_app/icon/chat.svg'%}" id="personal-chat-icon">
        <p class="text">Повідомлення</p>
    </div>

    <div class="chat-card-container" id="userChats"></div>
</div>

<div class="chat-cards">
    <div class="heading">
        <img src="{% static 'chat_app/icon/chat.svg'%}" id="group-chat-icon">
        <p class="text">Групові чати</p>
    </div>

    <div class="chat-card-container" id="groupChats"></div>
</div>
