{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/friends/friends.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/friends/user_card.css' %}">
{% endblock links %}

{% block side_panel %}
    <p class="main">Головна</p>
    <p class="grey">Запити</p>
    <p class="grey">Рекомендації</p>
    <p class="grey">Всі друзі</p>
{% endblock side_panel %}

{% block content %}

    <div class="requests">
        <div class="heading">
            <p class="text">Запити</p>
            <p class="all">Дивитись всі</p>
        </div>

        <div class="cards">
        {{ requests_cards }}
        </div>
    </div>
    <div class="recomendations">
        <div class="heading">
            <p class="text">Рекомендації</p>
            <p class="all">Дивитись всі</p>
        </div>

        <div class="cards">
            {{ recommendation_cards }}
        </div>
    </div>
    <div class="all-friends">
        <div class="heading">
            <p class="text">Всі друзі</p>
            <p class="all">Дивитись всі</p>
        </div>

        <div class="cards">
            {{ friends_cards }}
        </div>
    </div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}