<dialog class="complete-profile" id="complete-profile">
    <p class="title">Додай деталі про себе</p>

    <form action="{% url "home_app.complete_profile" %}">
        <div>
            {{ profile_details_form.pseudonym.label_tag }}
            {{ profile_details_form.pseudonym }}
        </div>
        <div>
            {{ profile_details_form.username.label_tag }}
            {{ profile_details_form.username }}
            <p class="message">Або оберіть: <span>Запропоновані варіанти відповідно до Ім’я та Прізвища</span></p>
        </div>
    </form>

    <div>
        <button class="button-purple">Продовжити</button>
    </div>
</dialog>