div.content {
    height: 86.77vh;

    flex-direction: row;
    gap: 0.56vw;
}

div.side-panel {
    height: 86.77vh;
}

.messages-content{
    width: 34.9vw;
    height: 100%;

    border-radius: 2vh;
    border: 1px solid #CDCED2;
    background-color: white;
    display: flex;
}

.messages-panel{
    flex: 1;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.83vh;
}
