* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none
}
a, p{
    font-family: 'GT-Walsheim';
}
body {
    overflow: hidden;
    background-color: #FAF8FF;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    width: 100vw;
    top: 90px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    gap: 0.4vw;
}

.wrap-side{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24.31vw;

}
.side-panel{
    position: fixed;
    top: 88px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 24.31vw;
}

.content{
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 54vw;
    justify-content: right;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.test{
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 54vw;
    justify-content: right;
    align-items: center;
    background-color: green;
}