header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 88px;
    z-index: 1000;
}

header a:not(.logo):hover {
    background-color: #E9E5EE;
}

.menu {
    font-family: 'GT-Walsheim', sans-serif;
    display: flex;
    gap: 80px 24px;
    margin-left: auto;
    align-items: center;
    margin-right: 5px;
}

.logout {
    font-family: 'GT-Walsheim', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    padding: 6px 1vw;
    border: 1px solid #2D2D2D;
    border-radius: 2vw;
}

.logout > img{
    margin-right: 2px;
}

.menu > a {
    padding: 0.4vw;
    border-radius: 3px; 
}

.menu > a {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.conteiner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}